<nav class="navbar navbar-expand-sm navbar-light bg-warning"></nav>
    <a class="navbar-brand" href="/">
        GuiaPress
    </a>
    
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
    </ul>
</nav>